
#nav{
  display: flex;
  flex-direction: column;
}
/* use this for the decks contiainer so they wrap in side its container */
#container {
  display: flex;
  flex-wrap: wrap;
  gap: 5vw
  }

#container img {
  display: flex;
  flex-wrap: wrap;
  max-width: 240px;
  max-height: 336px; 
  
  }

  #decks {
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
   }