
.nav{
 display: flex; 
 align-items: center;
 position: relative; 
 justify-content: space-around;
 height: var(--header-height);
 margin: 1rem;
font-size: 20px;
background-color: rgb(225, 30, 30);



}
 /* whats the difference between <a> tag and the link tag ? in terms of css */
.nav a {
  color:whitesmoke;
  text-decoration: none;
  justify-content: space-around;
  position: relative;
  
}
.nav a:hover {
  color: black;
  background-color: grey;

}
/* use this for the decks contiainer so they wrap in side its container */
#container {
  display: flex;
  flex-wrap: wrap;
  gap: 5vw
  }
/* this is the individual deck sleeves */
#container img {
  display: flex;
  flex-wrap: wrap;
  max-width: 240px;
  max-height: 336px; 
  
  }

  #decks {
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
   }
   /* this is the back ground csss for home container*/
   .home-container{
    width: 100vw; /* 100% of the viewport width */
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-image: url("src/assets/HomeComponentBG.avif");
   }

   .home-header{
    align-items: center;
    display: flex;
   }

  /* this is the background css for the colors component */
   .color-container{   
    width: 100vw; /* 100% of the viewport width */
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-image: url("src/assets/COLORS BG the one.jpeg");

   }